@model Proyecto_PrimerParcial.ViewModels.HangarDeleteViewModel;

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Hangar</h1>

<h3>Esta seguro que quiere eliminar este Hangar?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.HangarNombre)</h4>
    <hr />
    <dl class="row">
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangarNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangarNombre)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangarSector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangarSector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangarAptoMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangarAptoMantenimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangarOficinas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangarOficinas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HangarId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <br>
        <br>
        <a asp-action="Index">Volver</a>
    </form>
</div>
