@model Proyecto_PrimerParcial.ViewModels.InstructorDeleteViewModel;

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar instructor</h1>

<h3>Esta seguro que quiere eliminar este instructor?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorDni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorDni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorTipoLicencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorTipoLicencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorNumeroLicencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorNumeroLicencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorExpedicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorExpedicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorEnActividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorEnActividad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InstructorId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <br>
        <br> 

        <a asp-action="Index">Volver</a>
    </form>
</div>
