@using Proyecto_PrimerParcial.ViewModels;
@model InstructorIndexViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Instructores de vuelo</h1>



<p>
    <a asp-action="Create" class="btn btn-success"> + Instructor</a>
</p>

<div class="row">
    <form method="get" asp-action="Index" asp-controller="Instructor">
        <div class="col-6 form-group">
            <input class="form-control" asp-for="NameFilterIns"/>
        </div>
        <br>
        <button class="btn btn-info" type="submit">Buscar</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstructorNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorDni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorTipoLicencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorNumeroLicencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorExpedicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorEnActividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aeronave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.instructors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorDni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorTipoLicencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorNumeroLicencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorExpedicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorEnActividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aeronave.AeronaveTipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstructorId" class="btn btn-warning">Modificar</a> 
                <a asp-action="Details" asp-route-id="@item.InstructorId" class="btn btn-primary">Detalle</a> 
                <a asp-action="Delete" asp-route-id="@item.InstructorId"  class="btn btn-danger" onclick="return confirm('¿Esta seguro que quiere eliminar este instructor?')">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
