@model Proyecto_PrimerParcial.Models.Aeronave

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aeronave</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AeronaveFabricacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AeronaveFabricacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AeronaveTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AeronaveTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AeronaveMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AeronaveMatricula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AeronaveId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
