@model IEnumerable<Proyecto_PrimerParcial.Models.Aeronave>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AeronaveFabricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AeronaveTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AeronaveMatricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AeronaveFabricacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AeronaveTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AeronaveMatricula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AeronaveId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AeronaveId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AeronaveId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
